
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script type = "text/javascript"  src = "/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.1.css"  id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script type = "text/javascript"  src="/javascripts/bootstrap.min.js"></script>





</head>
<body>

        <body>
                <div class="container login-container">
                  <div class="row">
                    <div class="col-md-6 ads">
                      <h1><span id="fl">Black</span><span id="sl">Ops</span></h1>
                    </div>
                    <div class="col-md-6 login-form">
                      <div class="profile-img">
                        <img src="/images/iot.jpg" alt="profile_img" height="140px" width="140px;">
                      </div>
                      <h3>Login</h3>
                      <form  method = "POST" action = "/try">
                        <div class="form-group">
                          <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-lg btn-block" value = "submit" id = "login-button">Sign In</button>
                        </div>
                        <div class="form-group forget-password">
                          <a href="/regtr">Register</a>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                </div>

</body>
</html>